.calendar-table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border: none;
  background: #fff;
  margin: 0 auto;
  text-align: center;
  vertical-align: middle;
}
.calendar-table thead {
  background: #5574d2;
}
.calendar-table thead th {
  color: #fff;
  height: 50px;
  font-family: 'Catamaran', Arial, sans-serif;
  font-weight: bold;
  font-size: 20px;
  border: 1px solid rgb(105, 181, 144);
  border-bottom: none;
  text-align: center;
}
.calendar-table thead th.prev-month,
.calendar-table thead th.next-month {
  width: 14.28571%;
  padding: 0;
}
.calendar-table thead th.prev-month a,
.calendar-table thead th.next-month a {
  display: block;
  height: 50px;
  width: 100%;
}
.calendar-table thead th.prev-month a:before {
  content: "\f104";
  color: white;
  font-family: FontAwesome;
  font-size: 140%;
}
.calendar-table thead th.next-month a:before {
  content: "\f105";
  color: white;
  font-family: FontAwesome;
  font-size: 140%;
}
.calendar-table thead th.prev-month a:hover,
.calendar-table thead th.next-month a:hover {
  background-color: #5ead8e;
}

.calendar-table tbody .day-header {
  color: #fff;
  height: 40px;
  font-size: 16px;
  border: 1px solid #526ab51f;
  background: #a0aad6;
}
.calendar-table tbody .day-header.sunday {
  background: #526ab5;
}
.calendar-table tbody .calendar-day {
  padding: 0.45em;
  width: 14.28571%;
  font-size: 20px;
  color: #999;
  background: #ddd;
  border: 1px solid rgb(204, 204, 204);
  cursor: pointer;
}
.calendar-table tbody .calendar-day.enabled {
  color: #555;
  background: #fff;
  border: 1px solid rgba(204, 204, 204, 0.5);
}
.calendar-table tbody .calendar-day.enabled:hover {
  color: #fff;
  background: #599685;
  border-color: #599685;
}
.calendar-table tbody .calendar-day.enabled.selected {
  color: #fff;
  background: #5fb188;
  border-color: #5fb183;
}
.calendar-table tbody .calendar-day.today {
  position: relative;
}
.calendar-table tbody .calendar-day.today:after {
  content: "";
  display: block;
  height: 3px;
  width: 20px;
  border-radius: 3px;
  background: #4f8667;
  position: absolute;
  top: 1.8em;
  left: 50%;
  margin-left: -9px;
}