body{background-color: #ecf0f1;}
#main{margin-bottom: 50px; display:inline-block;}
.box-sizing-bb{box-sizing: border-box; -moz-box-sizing: border-box;}
.photo{width: 150px; height: 200px; background: #eee;}
.photo img{width: inherit; height: inherit;}
.btn-b1{padding: 5px 12px;
    color: #fff;
    background: rgba(96, 129, 158, 0.86);}
.arrow-up:hover, .arrow-down:hover {color: darkgrey}
.arrow-up {
	margin: -0.2em 0 0 0.6em;
    font-size: 1.5em;
}
.arrow-down {
	margin: 0.5em 0 0 -0.6em;
	position: absolute;
	font-size: 1.5em;
}
/* .time-slots[disabled], .time-slots[disabled]:hover{background: #57b9a3 !important;color: aliceblue !important;} */
/* .time-slots-selected, .time-slots:hover{background: #30ad91 !important;color: aliceblue !important;} */
/* .time-slots{ */
/* 	float: left; */
/*     background: rgba(135, 216, 202, 0.17); */
/*     height: 4em; */
/*     border: 1px solid rgba(145, 146, 146, .2); */
/* 	padding: 1.69em; */
/*     text-align: center; */
/*     color: #2f538c; */
/*     font-size: 16px; */
/*     font-weight: bold; */
/*     width: 14.28%; */
/* } */


.time-slots[disabled], .time-slots[disabled]:hover, .time-slots-booked{background: #57b9a3 !important;color: aliceblue !important;}
.time-slots:hover{background: #30ad91 !important;color: aliceblue !important;}
.time-slots-selected,.time-slots-selected:hover{background: #5a9ba2 !important;color: aliceblue !important;}
.time-slots-booked{
background : #e05353 !important;
}
.time-slots{
	float: left;
    background: rgba(135, 216, 202, 0.17);
    height: 4.5em;
    border: 1px solid rgba(145, 146, 146, .2);
	padding: 1.69em;
    text-align: center;
    color: #2f538c;
    font-size: 16px;
    font-weight: bold;
    width: 14.28%;
}
#reciptLogo { text-align: right; float: right; position: relative; margin-top: 25px; border: 1px solid #fff; max-width: 540px; max-height: 100px; overflow: hidden; }


/* ull smartskin */
body.smart-style-6 .login-info{
	height: 84px;
}
body.smart-style-6 .login-info a span{
	margin-top: -13px;
}
body.smart-style-6 input[type="checkbox"], body.smart-style-6 input[type="radio"]{
	/* margin-top: 17px; */
}
img.online{
	visibility:hidden;
}
.tab-content h3{
	margin: 33px 20px;
}
.table-striped{
	
}
/* ull */
login-info{
	background:url(../images);
}
.margin-bottom-20{
	margin:0px 0px 20px 0px;
}


/* ull smartskin */
.header-a  {
	margin-top: -33px;
	font-size: 22px;
	color: #1565c0;
	padding: 0px 5px;
	margin-left: 5px;
	border-radius: 5px;
	float: right;}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 19.1%;
    float: left;
    /* margin: 0.82em; */
    background: #5675d3;
    border-radius: 5px;
    margin:4px 4px;
}

.cardCheck {
    background: #e05e22;
}

.card a {
    text-decoration: none;
    color: inherit;
}

.image {
	padding: 1.5em 0.4em;
    color: rgb(255,255,255);
    font-weight: bold;
    text-align: center;
    font-size: 14px;
   /* white-space: nowrap;*/
    text-overflow: ellipsis;
    overflow: hidden;
    height:65px;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-container table {width: 100%}
.card-container table td {
	padding: 0.2em;
	text-align: left;
}
.card-container table td:first-child {width: 55%}
.card-container table td:last-child {width: 40%;text-align: right;}
.card-container {
    background: rgba(255, 255, 255, 0.1);
    padding: 2px 16px;
    color: rgba(255,255,255,0.5);
    height:95px;
}

.card-container h3, .card-container h4, .card-container p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	margin: 0.5em;
	text-align: center;
 }
 .card-container h3{
 white-space:normal;
     height: 46px;
         font-size: 16px !important; 
     
 }
  .card-container h4 {
	color: rgba(247, 255, 166, 0.5);
  }
.header-a:hover{color: #ccc;}
.jarviswidget-color-blueDark>header{background: #9fa9d5 !important; border-color: #a3a8a5 !important; padding: 14px;}
.modal-width {width: 90%;}
.col-md-offset-4{ /* margin-left: 33.33333333% !important; */}
.modal-width .form-actions {margin: 25px 0 0 0;}
.modal-width .mr {margin: 25px 14px 0 14px !important;padding: 10px 30px;}
#logo-group, #logo{width: 100% !important;text-align: center; /* padding-left: 5% */}/*ull */
#left-panel{box-shadow: 0px 106px 16px #c2c2c2; overflow-x:scroll;}
#ribbon{box-shadow: 0px 0px 16px #c2c2c2;}
.mt-25{margin-top: 20px}
.ml-60{margin-left: 60px}
.m-25{margin: 25px}
.p-10{padding: 10px !important;}
.pt-0-5em{padding-top: 0.5em !important;padding-left: 15px}
#extr-page #main {background: transparent !important;}
#institutionId{width: 97%;height: 47px;}
.p-60-40{padding-left: 60px;padding-right: 40px;}
input[type="date"]{height: 44px; padding: 10px 16px; font-size: 17px; border: 1px solid #ccc;border-left:none;border-top:none;border-right:none; width: 94%}
.pr-15{padding-right: 15px;} 
.m-25 .col-sm-12 {margin-bottom: 10px;}
.bootstrapWizard li {width: 16%}
.t-20 {margin: 100px 395px;}
.t-20-blocker {margin:0px;}
.m-25 .tab-pane {padding-left: 20px}
.input-lg{width: 95% !important;}
.jarviswidget-ctrls, .jarviswidget > header > .widget-icon {margin-top: 0px;}
.jarviswidget > div {margin-top: -6px;}
body.smart-style-6 .ui-sortable .jarviswidget-sortable > header {background: #5baeb4;border-color: #a3a8a5 !important;}
body.smart-style-6 .pagination > .active > a {background: #5baeb4 !important;}
body.smart-style-6 .pagination > li > a, body.smart-style-6 .pagination > li > span {color: #5baeb4;}
body.smart-style-6 .widget-toolbar > .color-box, #demo-setting {display: none;}
.jarviswidget {box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);}
.small-btn-blue{padding: 5px 12px;font-size: 16px;color: #fff;background: #5675d3; margin-top: -28px}
.small-btn-blue:hover{background: #54C3A4;color: #e1f5e5;}
.full-width{width: 100% !important;}

#ribbon > .breadcrumb > li + li::before {
    color: #7e7e7e;
}
.dash .breadcrumb {
	padding: 12px 15px;
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(147, 147, 147, 0.2);
	margin: 18px 0 9px 0;
}
.navbar-inverse {
    background-color: #2C3E50;
    border-color: #2C3E50;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 0px solid transparent;
}
.navbar-nav > li > a {
    padding-top: 20px;
    padding-bottom: 10px;
    line-height: 20px;
}
@media (min-width: 768px){

.navbar {
    border-radius: 0px;
}}

.navbar-brand {
    float: left;
    height: auto;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.sidebar-toggle {
    color: #fff;
    font-size: 28px;
    display: inline-block;
    padding: 3px 22px;
}
@media (min-width:768px){
.container-1{width:15%;float:left;}
.container-2{width:100%;float: left;}
}

@media (max-width:768px){
.container-1{width:100%;}
.container-2{width:100%;}
}
.container-1:after,
.container-2:before,
{
  display: table;
  content: " ";
}
.container-1:after,
.container-2:after,
{clear: both;}

.container-1{display: none;}
/*navbar-right=====START==========*/

.social-icon{margin:0px;padding:0px;}
.social-icon li {margin: 0px;padding: 0px;list-style-type: none;}
.social-icon li a {
    display: block;
    padding: 15px 14px;
    text-decoration:none;
}
.social-icon li a:focus{
   color:#fff;
    text-decoration:none;
}

.messages-link{
        color: #fff !important;
    background: #16a085 !important;

}

.alerts-link{
        color: #fff !important;
    background: #f39c12 !important;

}

.tasks-link{
        color: #fff !important;
    background: #2980b9 !important;

}

.user-link{
        color: #fff !important;
    background: #E74C3C !important;

}
 .number {
    position: absolute;
    bottom: 25px;
    left: 3px;
    width: 20px;
    height: 20px;
    padding-right: 1px;
    border-radius: 50%;
    text-align: center;
    font-size: 11px;
    line-height: 20px;
    background-color: #2c3e50;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: -105px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0;
    margin: 2px 0 0;
    font-size: 14px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
/*navbar-right=======END========*/

/*sidebar-toggle=============*/
.sidebar-toggle:hover, .sidebar-toggle:focus {
    color: #fff;
    text-decoration: underline;
}


/*sidr-NAVBAR=======START========*/
.navbar-nav-1{width: 100%;background-color:#34495E;height:auto;overflow: hidden;z-index: 1020;position: relative;}

.side-user {
    display: block;
    width: 100%;
    padding: 15px;
    border-top: none !important;
    border-bottom: 1px solid #142638;
    text-align: center;
}
.close-btn {
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 31px;
    top: 0px;
    left: 223px;    
    display: none;
    padding: 0px;
    cursor: pointer;
}
.close-btn .fa-window-close{color:#fff;font-size: 25px;}
.welcome {
    margin: 0;
    font-style: italic;
    color: #9aa4af;
}

.name {
    margin: 0;
    font-family: "Ubuntu","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #ccd1d7;
}
.side-user a{
   color:#fff;
}
.nav-search{border-top: 1px solid #54677a;}
.nav-search .form-control{border: 1px solid #000;border-radius: 0px;}
.nav-search .btn{border: 1px solid #000;border-radius: 0px;}

.dashboard>a{
    color:#fff;
    }
.side-nav li {
    border-top: 1px solid #54677a;
    border-bottom: 1px solid #142638;
}

.side-nav>li>a:active {
    text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
    outline: none;
    color: #fff;
    background-color: #34495e;
}

.panel {
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}

.panel>a{
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #fff;
}

.panel>ul>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: darkcyan;
    background: black;
}
.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: #3d566e;
}
/*sidr-NAVBAR=======END========*/
@media (min-width: 768px){

#page-wrapper {
   
    padding: 0 30px;
    border-left: 1px solid #2c3e50;
}
}

#page-wrapper {
    padding: 0 15px;
    border: none;
    margin-bottom: 80px
}

.date-picker{    
    border-color: #138871;
    color: #fff;
    background-color: #149077;
    margin-top: -7px;
    border-radius: 0px;
    margin-right: -15px;
}

#page-wrapper .breadcrumb {
    margin-bottom: 20px;
    list-style: none;
    background-color: rgba(206, 206, 206, 0.25);
    border-radius: 4px;
}

#page-wrapper .breadcrumb footer {
	/* margin: 0 -15px -11px; */
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	padding:20px;
}

.border-radius-0{border-radius: 0 !important;}
.margin-top-0{margin-top: 0 !important;}
.width-20 {
	width: 20%;
	float: left;
	margin: 0.5em;
}
.sub-hdr{font-weight: 800;font-size: 1.5em}

@media (min-width: 768px){
.circle-tile {
    margin-bottom: 30px;
}
}

.circle-tile:hover {
	background-color: rgba(255, 255, 255, 0.25);
	box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.25), 0 0 0.5em 0 #366184;
}
.circle-tile {
    margin-bottom: 15px;
    text-align: center;
    border-radius: 5px;
}
.rect-tile {
    margin-bottom: 15px;
    text-align: center;
    /* box-shadow: 8px 8px 5px #888888; 
    box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(147, 147, 147, 0.2);*/
}/*ull*/
/* icon-style-sport */
.icon-style-sport{
 	padding: 6px;
    background: rgba(85,116,210,.5);
    border-radius: 50%;
    width: 35px;
}
.icon-style-sport:hover{
	background: rgba(85,116,210,.8);
}
/*icon-style-sport  */

    
}

.circle-tile-heading {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 auto -40px;
    border: 3px solid rgba(255,255,255,0.3);
    border-radius: 100%;
    color: #fff;
    transition: all ease-in-out .3s;
}

/* -- Background Helper Classes */

/* Use these to cuztomize the background color of a div. These are used along with tiles, or any other div you want to customize. */

 .dark-blue {
    background-color: #34495e;
}

.green {
    background-color: #16a085;
}

.blue {
    background-color: #2980b9;
}

.orange {
    background-color: #f39c12;
}

.red {
    background-color: #e74c3c;
}

.purple {
    background-color: #8e44ad;
}

.dark-gray {
    background-color: #7f8c8d;
}

.gray {
    background-color: #95a5a6;
}

.light-gray {
    background-color: #bdc3c7;
}

.yellow {
    background-color: #f1c40f;
}

/* -- Text Color Helper Classes */

 .text-dark-blue {
    color: #34495e;
}

.text-green {
    color: #16a085;
}

.text-blue {
    color: #2980b9;
}

.text-orange {
    color: #f39c12;
}

.text-red {
    color: #e74c3c;
}

.text-purple {
    color: #8e44ad;
}

.text-faded {
    color: rgba(255,255,255,0.7);
}



.circle-tile-heading .fa {
    line-height: 80px;
}

.circle-tile-content {
    padding-top: 20px;
    border-radius: 5px;
}
.tile-content {
    border-radius: 5px;
}

.circle-tile-sub-content {
	color:rgba(176, 177, 181, .75);
	width:100%;
	background-size:contain;
	position:relative;
	padding-bottom: 77%;
}

.circle-tile-sub-content > div {
	width: 100%;
	height: 100%;
	position: absolute;
	padding: 0.5em;
	display:block;
	overflow-wrap: break-word;
	font-size: 0.95em;
}
.circle-tile-sub-content > div > div {
	height: 60%;
	padding: 1em;
}
.circle-tile-sub-content table td {
	padding: 0.2em;
	text-align: left;
}

.circle-tile-description {
    text-transform: uppercase;
}
/*  form*/
.form-control-2{
	padding:20px;
	display: inline-block;
    background: #fff;
    width:100%;
}
/*  form*/

.text-faded {
    color: rgba(255,255,255,0.7);
}

.circle-tile-number {
    padding: 5px 0 15px;
    font-size: 26px;
    font-weight: 700;
    line-height: 1;
}

.circle-tile-footer {
    display: block;
    padding: 5px;
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.1);
    transition: all ease-in-out .3s;
    margin-top: 10px;
    font-size: 14px;
}

.circle-tile-footer:hover {
    text-decoration: none;
    color: rgba(255,255,255,0.5);
    background-color: rgba(0,0,0,0.2);
}


.morning {
    background: url(https://lh3.googleusercontent.com/-1YbV7nsVnX8/WMugaq-6BEI/AAAAAAAADSg/0wPfQ84vMUcCle_SkgiUDOumUKscMaA8QCL0B/w530-d-h353-p-rw/widget-bg-morning.jpg) center bottom no-repeat;
    background-size: cover;
}

.time-widget {
    margin-top: 5px;
    overflow: hidden;
    text-align: center;
    font-size: 1.75em;
}

.time-widget-heading {
    text-transform: uppercase;
    font-size: .5em;
    font-weight: 400;
    color: #fff;
}
#datetime{color:#fff;}
.tile-img {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.9);
}

.tile {
    margin-bottom: 15px;
    padding: 15px;
    overflow: hidden;
    color: #fff;
}

/* calendar */

.calendar-table thead th.prev-month a:hover, .calendar-table thead th.next-month a:hover{
	background-color: #056490 !important;
}

.date-checkbox input{
	
	margin-right: 10px;
}
	.card:hover .card-hover{
		width:19%;
		height:160px;
		background:#fff;
		text-align: center;
/* 		border:1px solid #000; */
		
		display:block;
	}
	.card-hover{
		display: none;
		position: absolute;
		border-radius: 3px;
		padding: 10px;
		background: #bac5e6 !important;
		border: 1px solid #c8c8c8;
		
	}
