<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">




   <head>
      <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
      <script type="text/javascript" src="../static/js/jquery.qrcode.min.js"></script>
     

<script type="text/javascript" src="../static/js/jquery-barcode.min.js"></script>

      <title>RECEIPTe</title>
      

   </head>
   <body>
   <style>
   /*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
body { font: 14px/1.4 Georgia, serif; }
#page-wrap { width: 800px; margin: 0 auto; border:9px double #000; padding: 20px; }

textarea { border: 0; font: 14px Georgia, Serif; overflow: hidden; resize: none; }
table { border-collapse: collapse; }
table td, table th { border: 1px solid black; padding: 5px; }

#headerRecipt { height: 33px; width: 100%; margin: 20px 0; background: #222; text-align: center; color: white; font: bold 15px Helvetica, Sans-Serif; text-decoration: uppercase; letter-spacing: 20px; padding: 8px 0px; }

#address { width: 250px; height: 150px; float: left; }
#customer { overflow: hidden; }

/* #reciptLogo { text-align: right; float: right; position: relative; margin-top: 25px; border: 1px solid #fff; max-width: 540px; max-height: 100px; overflow: hidden; } */

/*ull*/
.main-content{
	text-align: justify;
	margin-top: 30px;
	border: 1px solid #000;
	padding: 20px;
	display: inline-block;
	width: 100%;
}

.main-content p{
	
	line-height: 55px;
	
}
.qrcode{
float: left;
margin-right: 33px;
}
.adresstwo{
	float: right;
	width:250px; 
}
.rupeesSign{
	padding: 50px 0px;
}
p{

	line-height: 40px;
	
	
	 text-align: justify;
	 display: inline-block;
	 width: 100%;
   
}
/*ull*/

#meta { margin-top: 1px; width: 300px; float: right; }
#meta td { text-align: right;  }
#meta td.meta-head { text-align: left; background: #eee; }
#meta td textarea { width: 100%; height: 20px; text-align: right; }

#items { clear: both; width: 100%; margin: 30px 0 0 0; border: 1px solid black; }
#items th { background: #eee; }
#items textarea { width: 80px; height: 50px; }
#items tr.item-row td { border: 0; vertical-align: top; }
#items td.description { width: 300px; }
#items td.item-name { width: 175px; }
#items td.description textarea, #items td.item-name textarea { width: 100%; }
#items td.total-line { border-right: 0; text-align: right; }
#items td.total-value { border-left: 0; padding: 10px; }
#items td.total-value textarea { height: 20px; background: none; }
#items td.balance { background: #eee; }
#items td.blank { border: 0; }

#terms { text-align: center; margin: 20px 0 0 0; }
#terms h5 { text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 10px; border-bottom: 1px solid black; padding: 0 0 8px 0; margin: 0 0 8px 0; }
#terms textarea { width: 100%; text-align: center;}

textarea:hover, textarea:focus, #items td.total-value textarea:hover, #items td.total-value textarea:focus, .delete:hover { background-color:#EEFF88; }

.delete-wpr { position: relative; }
.delete { display: block; color: #000; text-decoration: none; position: absolute; background: #EEEEEE; font-weight: bold; padding: 0px 3px; border: 1px solid; top: -6px; left: -22px; font-family: Verdana; font-size: 12px; }

/*formstyle*/
.reciptLogo{
            		
            }
            	
.form-control-3{
            border-right: none;
            border-left : none;
            border-top: none;
            border-bottom:1px solid #000;
            		/*width: 500px !important;*/
}
#reciptLogo{
	display: inline-block;
	float: right;
}
#reciptLogo img{
	width: 50%;
	float: right;
}
/*formstyle*/
   </style>
      <div id="page-wrap">
         <textarea id="headerRecipt">RECEIPT</textarea>
         <div id="identity">
            <textarea id="address">DIRECTORATE OF SPORTS & YOUTH AFFAIRS
JIMMY GEORGE INDOOR STADIUM
THIRUVANANTHAPURAM -695 033
Phone 0471-2326644, 2327271
</textarea>
			<div id="reciptLogo" >
			
				<img src="../static/img/logo.png" />
           </div>
            
         </div>
         <div style="clear:both"></div>
         <div id="customer">
           
            <table id="meta" class="float:left">
               <tr>
                  <div id="qrcode" class="qrcode">
               </tr>
               <tr>
                 <div id="demo" style="float:left"></div>
               
               </tr>
            </table>
            
            <table id="meta" class="float:right">
               <tr>
                  <td class="meta-head">Receipt No</td>
                  <td><textarea>{{account.accountsId}}</textarea></td>
               </tr>
               <tr>
                  <td class="meta-head">Date</td>
                  <td><textarea id="date">{{data[1]}} </textarea></td>
               </tr>
            </table>
         </div>
         <div class="main-content">
            <div></div>
            

            
         	 <p>  Received from  <input  type="text" style="width: 592px;" class="form-control-3" value="{{data[0]}}" />The sum of <input  type="text" style="width: 199px;" class="form-control-3" value="{{account.paidAmount}}" /> Rupees :<input  type="text" style="width: 363px;" class="form-control-3" value="{{account.words}} Only" />) towards <input  type="text" style="width: 400px;" class="form-control-3" value="{{center.centreName}}" /> for the period from DD/MM/YY<input  type="text" style="width: 162px;" class="form-control-3" value="{{account.bookingDate | date}}" /> &Time <input  type="text" style="width: 185px;" class="form-control-3" value="" />To DATE DD/MM/YY <input  type="text" style="width: 162px;" class="form-control-3" value="{{account.bookingDateLast | date}}" />Time<input  type="text" style="width: 185px;" class="form-control-3" value="" />
            For the Facility/Sub facility  of    
            Court No:<input  type="text" style="width: 162px;" class="form-control-3" value="{{facility.facilityName}}" />   /Track No:<input  type="text" style="width: 162px;" class="form-control-3" value="{{subFacility.subFacilityName}}" />
              <br/> NB: <input  type="text" style="width: 400px;" class="form-control-3" value="" />
            </p>
             <div class="rupeesSign">
                   <input  type="text" style="width: 182px;" class="form-control" value="₹: {{account.paidAmount}}" />
              </div>

            <div class="adresstwo" id="">
              
               <address>
                  Administrator <br/>
                  JIMMY GEORGE INDOOR STADIUM
                  THIRUVANANTHAPURAM -695 033
               </address>
         	</div>
         
            <div>
            </div>
            <input id="qr" value="{{account.accountsId}}" type="hidden"></input>
            <input id="barcode" value="{{account.accountsId}}" type="hidden"></input>
         </div>
         <script type="text/javascript">
		function generateQRCode() {
			var value = $('#qr').val()
			console.log('value is.....'+value);
			while (value.length < 6) {
				value = '0' + value;
			}
			var options	= {width:50,height:40,text:'ASRMEM' + value}
			$('#qrcode').qrcode(options)
		}
	</script>
	<script type="text/javascript">
		function generateBarCode() {
			console.log(143);
			var value = $('#barcode').val()
			while (value.length < 6) {
				value = '00' + value;
			}
			console.log(123);
			var options	= {width:100,height:100,text:'ASRMEM' + value}
			$("#barcodes").barcode("1234567890128", options); // type (string));    
					console.log(456);
		}
		
		$("#demo").barcode(
				
				"1234567890128", // Value barcode (dependent on the type of barcode)
			
				"ean13" // type (string)
			
				);

	</script>
	<script  type="text/javascript">
	function convertNumberToWords(amount) {
	    var words = new Array();
	    words[0] = '';
	    words[1] = 'One';
	    words[2] = 'Two';
	    words[3] = 'Three';
	    words[4] = 'Four';
	    words[5] = 'Five';
	    words[6] = 'Six';
	    words[7] = 'Seven';
	    words[8] = 'Eight';
	    words[9] = 'Nine';
	    words[10] = 'Ten';
	    words[11] = 'Eleven';
	    words[12] = 'Twelve';
	    words[13] = 'Thirteen';
	    words[14] = 'Fourteen';
	    words[15] = 'Fifteen';
	    words[16] = 'Sixteen';
	    words[17] = 'Seventeen';
	    words[18] = 'Eighteen';
	    words[19] = 'Nineteen';
	    words[20] = 'Twenty';
	    words[30] = 'Thirty';
	    words[40] = 'Forty';
	    words[50] = 'Fifty';
	    words[60] = 'Sixty';
	    words[70] = 'Seventy';
	    words[80] = 'Eighty';
	    words[90] = 'Ninety';
	    amount = amount.toString();
	    var atemp = amount.split(".");
	    var number = atemp[0].split(",").join("");
	    var n_length = number.length;
	    var words_string = "";
	    if (n_length <= 9) {
	        var n_array = new Array(0, 0, 0, 0, 0, 0, 0, 0, 0);
	        var received_n_array = new Array();
	        for (var i = 0; i < n_length; i++) {
	            received_n_array[i] = number.substr(i, 1);
	        }
	        for (var i = 9 - n_length, j = 0; i < 9; i++, j++) {
	            n_array[i] = received_n_array[j];
	        }
	        for (var i = 0, j = 1; i < 9; i++, j++) {
	            if (i == 0 || i == 2 || i == 4 || i == 7) {
	                if (n_array[i] == 1) {
	                    n_array[j] = 10 + parseInt(n_array[j]);
	                    n_array[i] = 0;
	                }
	            }
	        }
	        value = "";
	        for (var i = 0; i < 9; i++) {
	            if (i == 0 || i == 2 || i == 4 || i == 7) {
	                value = n_array[i] * 10;
	            } else {
	                value = n_array[i];
	            }
	            if (value != 0) {
	                words_string += words[value] + " ";
	            }
	            if ((i == 1 && value != 0) || (i == 0 && value != 0 && n_array[i + 1] == 0)) {
	                words_string += "Crores ";
	            }
	            if ((i == 3 && value != 0) || (i == 2 && value != 0 && n_array[i + 1] == 0)) {
	                words_string += "Lakhs ";
	            }
	            if ((i == 5 && value != 0) || (i == 4 && value != 0 && n_array[i + 1] == 0)) {
	                words_string += "Thousand ";
	            }
	            if (i == 6 && value != 0 && (n_array[i + 1] != 0 && n_array[i + 2] != 0)) {
	                words_string += "Hundred and ";
	            } else if (i == 6 && value != 0) {
	                words_string += "Hundred ";
	            }
	        }
	        words_string = words_string.split("  ").join(" ");
	    }
	    return words_string;
	}
	</script>
	<style>
	.form-control{
	}
	</style>

      </div>
   </body>
</html>