<html>
<head>
<title>I D CARD SPORTS</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body bgcolor="#FFFFFF" leftmargin="0" topmargin="0" marginwidth="0" marginheight="0">
<!-- I D CARD SPORTS.psd -->
<form>

	<div class="mainBgImg">
		<!-- heading -->
		<div class="main-heading color">
			<div class="heading">
				<h4>ACTIVE SPORTS MEMBERSHIP</h4>
				<h5>ID CARD NO: <span>{{member.memberId}}<span></h5>
			</div>
			<div class="keralaGovLogo">
				<img src="../../../../static/html/img/keralaLogo.png">
			</div>
		</div>
		<!-- heading -->
		<!-- BODY  -->
		<div class="innerIdcard">
			<div class="inner-content"><h3>{{today | date}}</h3>
				<img class="signature" src="img/signature.gif">
			</div>
			<div class="inner-content">
				<img src="../../../../static/html/img/jimmyLogo.png">
				<span>TVM</span>
				<img class="qrCode" src="../../../../static/html/img/qrCode.gif">
				<img class="barCode" src="../../../../static/html/img/barCode.gif">
			</div>
			<div class="inner-content color">
				<img class="photo" src="../../../../static/html/img/photo.gif">
				<h4>Selena Gomas</h4>
			</div>
		</div>
		<!-- BODY -->
		<!-- heading -->
		<footer>
			<h6>PLS SEE THE TERMS AND CONDITIONS BEFOR USING  THIS NON-TRANSFERABLE CARD</h6>
		</footer>
		<!-- heading -->
	</div>
</form>

<style>
	body{
		padding: 0px;
		margin: 0px;
/* 		color: #FFFFFF; */
	}
h1,h2,h3,h4,h5,h6{
	margin: 0px;
	padding: 0px;
}
	.mainBgImg{
		background-image:url(../../../../static/html/img/idCardBg.png);
		width: 85mm;
		height:55mm;
		padding: 29px 15px 15px 15px;
	}
	.heading{
		margin-top:14px;
		text-align: center;
		float: left;
	}
	.heading h4{
		color: yellow;
	}
	.main-heading{
		margin-left: auto;
		margin-right: auto;
		display: block;
		padding-left: 52px; 
		margin-bottom: 10px;
	}
	.keralaGovLogo img{
		width: 0.5in;
		height: 0.5in;
		margin-top: 8px;

	}
	.innerIdcard img{
		width: 18mm;
		height: 10mm;
	}
	.innerIdcard{
		display: inline-block;

	}
	.inner-content{
		float: left;
		width: 107px;

	}
	.color h3,h4{
		color: yellow;
	}
	.inner-content h3{
		font-size: 10px;
	}
	.inner-content .barCode{
		width: 137px;
		margin-left: -33px;
		margin-top: 5px;
	}
	.inner-content .qrCode{
		width: 13mm;
		height: 12mm;
		margin-left: 10px;
	}
	.inner-content .photo{
		height: 68px;
		margin-right: auto;
		margin-left: auto;
		display: block;
	}
	.inner-content span{
		text-align: center;
		font-size: 9px;
	}
	.inner-content .signature{
		margin-top:30px;
	}
	footer h6{
		font-size: 7px;
	}

</style>
<!-- I D CARD SPORTS.psd -->
</body>
</html>