<!DOCTYPE html >
<html lang="en">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
<meta charset="utf-8" />
<script type="text/javascript" src="../static/js/jquery.qrcode.min.js"></script>
<script type="text/javascript" src="../static/js/jquery-barcode.min.js"></script>
<!-- Begin embedded font definitions -->
<style id="fonts1" type="text/css" >

@font-face {
	font-family: ML-TTKarthika-Normal_m;
	src: url("../static/fonts/ML-TTKarthika-Normal_m.woff") format("woff");
}

@font-face {
	font-family: ArialMT_w;
	src: url("../static/fonts/ArialMT_w.woff") format("woff");
}

@font-face {
	font-family: ML-TTGopika-Normal_14;
	src: url("../static/fonts/ML-TTGopika-Normal_14.woff") format("woff");
}

@font-face {
	font-family: ML-TTGopika-Bold_c;
	src: url("../static/fonts/ML-TTGopika-Bold_c.woff") format("woff");
}

@font-face {
	font-family: ML-TTKarthika-Bold_h;
	src: url("../static/fonts/ML-TTKarthika-Bold_h.woff") format("woff");
}

.s1 {
	font-family: ML-TTGopika-Bold_c;
    font-size: 40px;
    margin-top: 30px;
    text-align: center;
}
.s2 {
	font-family: ML-TTKarthika-Bold_h;
    font-size: 28px;
    text-align: center;
}
.s2_1{
    padding-bottom: 5px;
    border-bottom: 1px solid #000000;
}
.s2_2{
    color: #ffffff;
    background: #000000;
    padding: 10px;
    border-radius: 10px;
}
.s3 {
	font-family: ML-TTKarthika-Normal_m;
    font-size: 21px;
}
           	
.form-control{
            border-right: none;
            border-left : none;
            border-top: none;
/*             border-bottom:1px solid #000; */
            		/*width: 500px !important;*/
}
.s4 {
	font-family: ArialMT_w;
    font-size: 15px;
}
.tbl {
/* 	width: 822px; */
    margin: 0 15px;
    border-collapse: collapse;
}
.tbl td {
    border: 1px solid #000000;
    padding: 10px;
}
.s5 {
	border: 1px solid #000000;
	width: 240.33px;
	margin: 50px 18px 50px 0;
    padding: 8px;
	float:left;
}
.s6 {
    border-left: 1px solid #000000;
    width: 40px;
    float: right;
    height: 49px;
    margin: -8px;
}
.s7 {
/* 	margin: 0 15px 50px 15px; */
    text-align: left;
    text-indent: 100px;
    padding: 11px;
}
.ml-15{
/* margin-left: 15px;  */
padding: 15px;
}
.dt{float:left;}
.sg{
/* float:right; */
/* margin-right: -633px; */
text-align: right;
padding: 15px;
}
.pht {
    position: absolute;
    float: right;
    border: 1px solid #000000;
    border-radius: 5px;
    top: 121px;
    left: 754px;
    padding: 64px 30px;
}
#qrcode {
	position: absolute;
	top: 185px;
	left: 250px;
}

#demo2 {
	position: absolute;
	top: 284px;
	left: 240px;
}


#qrcode1 {
	float: left;
	margin-right: 75px;
}

</style>
<style>
   body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background-color: #FAFAFA;
        font: 12pt "Tahoma";
    }
    * {
        box-sizing: border-box;
/*         -moz-box-sizing: border-box; */
    }
    .page {
        width: 210mm;
        min-height: 297mm;
/*         padding: 20mm; */
/*         margin: 10mm auto; */
/*         border: 1px #D3D3D3 solid; */
        border-radius: 5px;
        background: white;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    .subpage {
/*         padding: 1cm; */
/*         border: 5px red solid; */
        height: 257mm;
/*         outline: 2cm #FFEAEA solid; */
    }
    
    @page {
        size: A4;
        margin: 0;
    }
    @media print {
        html, body {
            width: 210mm;
            height: 297mm;        
        }
        .page {
            margin: 0;
            border: initial;
            border-radius: initial;
            width: initial;
            min-height: initial;
            box-shadow: initial;
            background: initial;
            page-break-after: always;
        }
    }
</style>
<!-- End embedded font definitions -->
</head>

<body style="margin: 0;background:#888888">

<div class="book">
    <div class="page" style="border: 2px solid #000000;display:none;">
        <div class="subpage">

			<div style="overflow: hidden;background:#ffffff;">
		<div >
			<div class="s1">ImbnI bphP\ Imcymebw</div>
			<div class="s2">Pn½n tPmÀÖv kvt]mÀSvkv lºv</div>
			<div class="s2" style="margin-top:-10px"><span class="s2_1">shffb¼ew, Xncph\´]pcw.</span></div>
			<div class="s2" style="margin: 70px 0;"><span class="s2_2">sa¼Àjn¸v ^mdw</span></div>
			<div id="qrcodesdsd"></div>
            <div id="demo2sdsdsd" ></div>
			<div class="s3 pht">t^mt«m</div>
			<table class="tbl">
				<tbody>
					<tr>
						<td style="width:30%"><span class="s3">t]cv</span><span class="s4"> / Name</span></td>
						<td style="width:70%"><span class="s4"></span>{{member.memberName}}</td>
					</tr>
					<tr>
						<td style="width:30%"><span class="s3">AÑsâ t]cv</span><span class="s4"> / Father’s Name</span></td>
						<td style="width:70%"><span class="s4"></span>{{member.fatherName}}</td>
					</tr>
					<tr>
						<td style="width:30%"><span class="s3">hbÊv</span><span class="s4"> / Age</span></td>
						<td style="width:70%"><span class="s4"></span>{{member.age}}</td>
					</tr>
					<tr>
						<td style="width:30%;height:60px;vertical-align:baseline;"><span class="s3">taÂ hnemkw</span><span class="s4"> / Address</span></td>
						<td style="width:70%"><span class="s4"></span>{{member.street}}, {{member.city}}</td>
					</tr>
					<tr>
						<td style="width:30%"><span class="s3">samss_Â \w.</span><span class="s4"> / Mobile No.</span></td>
						<td style="width:70%"><span class="s4"></span>{{member.memberContactNo}}</td>
					</tr>
				</tbody>
			</table>
			<div style="padding: 15px;">
				<div class="s5"><span class="s3">hnZymÀ°n</span><span class="s4"> / Student</span><div class="s6"><input type="checkbox" style="margin-top: 23px;"  ng-checked="member.isStudent == true"></div></div>
				<div class="s5"><span class="s3">Fwt¹mbn</span><span class="s4"> / Employee</span><div class="s6"><input type="checkbox" style="margin-top: 23px;" ng-checked="member.isGovt== true"></div></div>
				<div class="s5" style="margin-right: 0px;"><span class="s3">tIm¨nwKv</span><span class="s4"> / Coaching</span><div class="s6"><input type="checkbox" style="margin-top: 23px;" ng-checked="member.isCoaching== true"></div></div>
			</div>
			<p class="s3 s7">ImbnI bphP\ Imcymeb¯nse \nba§fpw \n_Ô\Ifpw ]men¨psImffmsa¶v CXn\mÂ k½Xn¨psImffp¶p.</p>
			<p class="s3 ml-15 dt">XobXn<span class="s4"> : {{today | date}}</span></p>
			<p class="s3 sg">At]£Isâ H¸v</p>
			<input id="qr" value="{{member.memberId}}" type="hidden"></input>
			
			
		</div>
	</div>
		</div>    
    </div>
    <div class="page" style="display:none;">
        <div class="subpage">
        
         <div id="page-wrap">
         <textarea id="headerRecipt" readonly>RECEIPT/MEMBERSHIP</textarea>
         <div id="identity">
            <textarea id="address" readonly>DIRECTORATE OF SPORTS & YOUTH AFFAIRS
JIMMY GEORGE INDOOR STADIUM
THIRUVANANTHAPURAM -695 033
Phone 0471-2326644, 2327271
</textarea>
            <div id="reciptLogo">
               
              <img id="image" src="../../../../static/html/keralaGovtLogo.png" alt="keralaGovtLogo" />
            </div>
            
         </div>
         <div style="clear:both"></div>
         <div id="customer">
<table id="meta" class="float:left">
               <tr>
                  <div id="qrcode1sdss" class="qrcodesd1">
               </tr>
               <tr>
                 <div id="demosds" style="float:left"></div>
               
               </tr>
            </table>
            <table id="meta">
               <tr>
                  <td class="meta-head">Receipt No</td>
                  <td><textarea readonly>{{member.billId}}</textarea></td>
               </tr>
               <tr>
                  <td class="meta-head">Date</td>
                  <td><textarea id="date" readonly>{{today | date}} </textarea></td>
               </tr>
            </table>
         </div>
         <div class="main-content">
            
            
            
            
            <p> Received from : {{member.memberName}} the sum of <input  type="text" style="width: 80px;" class="form-control-3" value="{{member.paidAmount}}" readonly/>(Rupees : {{member.word}} Only)  towards <input  type="text" style="width: 145px;" class="form-control-3" value="{{center.centreName}}" readonly/> 
            for the period of <input  type="text" style="width: 145px;" class="form-control-3" value="{{today | date}}" readonly/> To <input  type="text" style="width: 145px;" class="form-control-3" value="{{member.memberTypeValidity | date}}" readonly/>
              <br/> NB: …………………………………………………………..
            </p>
             <div class="rupeesSign">
                  
                  <input  type="text" style="width: 80px;" class="form-control-3" value="? {{member.paidAmount}}" readonly/>
              </div>

            <div class="adresstwo" id="">
              
               <address>
                  Administrator <br/>
                  JIMMY GEORGE INDOOR STADIUM
                  THIRUVANANTHAPURAM -695 033
               </address>
         	</div>
         
            <div>
            </div>
         </div>
        
        
        </div>    
    </div>
</div>
 <div class="page">
        <div class="subpage" align="left">
         <div class="mainBgImg">
		<!-- heading -->
		<div class="main-heading color">
			<div class="heading">
				<h4>ACTIVE SPORTS MEMBERSHIP</h4>
				<h5>ID CARD NO: <span>{{member.memberId}}<span></h5>
			</div>
			<div class="keralaGovLogo">
				<img src="../../../../static/html/img/keralaLogo.png">
			</div>
		</div>
		<!-- heading -->
		<!-- BODY  -->
		<div class="innerIdcard">
			<div class="inner-content"><h3>{{today | date}}</h3>
				<img class="signature" src="img/signature.gif"> 
				<div id="IDdemo1" ></div>
			</div>
			<div class="inner-content">
				<img src="../../../../static/html/img/jimmyLogo.png">
				<span>TVM</span>
<!-- 				<img class="qrCode" src="../../../../static/html/img/qrCode.gif"> -->
				<div id="IDqrcodeId"  ></div>
				
                
               
              
<!-- 				<img class="barCode" src="../../../../static/html/img/barCode.gif"> -->
			</div>
			<div class="inner-content color">
				<img class="photo" src="../static/temp/{{ member.memberPhoto }}">
				
<!-- 				../static/temp/{{ member.memberPhoto }} -->
				
				<h4>{{member.memberName}}</h4>
			</div>
		</div>
		<!-- BODY -->
		<!-- heading -->
		<footer>
			<h6>PLS SEE THE TERMS AND CONDITIONS BEFOR USING  THIS NON-TRANSFERABLE CARD</h6>
		</footer>
		<!-- heading -->
	</div>
        
        </div>    
    </div>




	
	   <style>
   /*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

* { margin: 0; padding: 0; }
body { font: 14px/1.4 Georgia, serif; }
#page-wrap {
/*  width: 800px; */
/*   margin: 0 auto;  */
/*   border:2px solid #000; */
   padding: 20px; }

textarea { border: 0; font: 14px Georgia, Serif; overflow: hidden; resize: none; }
table { border-collapse: collapse; }
table td, table th { border: 1px solid black; padding: 5px; }

#headerRecipt { height: 33px; width: 100%; margin: 20px 0; background: #222; text-align: center; color: white; font: bold 15px Helvetica, Sans-Serif; text-decoration: uppercase; letter-spacing: 20px; padding: 8px 0px; }

#address { width: 250px; height: 150px; float: left; }
#customer { overflow: hidden; }

/* #reciptLogo { text-align: right; float: right; position: relative; margin-top: 25px; border: 1px solid #fff; max-width: 540px; max-height: 100px; overflow: hidden; } */

/*ull*/
.main-content{
	text-align: justify;
	margin-top: 30px;
	border: 1px solid #000;
	padding: 20px;
	display: inline-block;
	width: 100%;
}

.form-control-3{
            border-right: none;
            border-left : none;
            border-top: none;
            border-bottom:1px solid #000;
            		/*width: 500px !important;*/
}
#reciptLogo img{
	width: 50%;
	float: right;
}
.adresstwo{
	float: right;
	width:250px; 
}
.rupeesSign{
	padding: 50px 0px;
}
p{

	line-height: 40px;
	
	
	 text-align: justify;
	 display: inline-block;
	 width: 100%;
   
}
/*ull*/

#meta { margin-top: 1px; width: 300px; float: right; }
#meta td { text-align: right;  }
#meta td.meta-head { text-align: left; background: #eee; }
#meta td textarea { width: 100%; height: 20px; text-align: right; }

#items { clear: both; width: 100%; margin: 30px 0 0 0; border: 1px solid black; }
#items th { background: #eee; }
#items textarea { width: 80px; height: 50px; }
#items tr.item-row td { border: 0; vertical-align: top; }
#items td.description { width: 300px; }
#items td.item-name { width: 175px; }
#items td.description textarea, #items td.item-name textarea { width: 100%; }
#items td.total-line { border-right: 0; text-align: right; }
#items td.total-value { border-left: 0; padding: 10px; }
#items td.total-value textarea { height: 20px; background: none; }
#items td.balance { background: #eee; }
#items td.blank { border: 0; }

#terms { text-align: center; margin: 20px 0 0 0; }
#terms h5 { text-transform: uppercase; font: 13px Helvetica, Sans-Serif; letter-spacing: 10px; border-bottom: 1px solid black; padding: 0 0 8px 0; margin: 0 0 8px 0; }
#terms textarea { width: 100%; text-align: center;}

textarea:hover, textarea:focus, #items td.total-value textarea:hover, #items td.total-value textarea:focus, .delete:hover { background-color:#EEFF88; }

.delete-wpr { position: relative; }
.delete { display: block; color: #000; text-decoration: none; position: absolute; background: #EEEEEE; font-weight: bold; padding: 0px 3px; border: 1px solid; top: -6px; left: -22px; font-family: Verdana; font-size: 12px; }
   </style>
     
         
        
	<script type="text/javascript">
		function generateQRCodeid(vals) {
			var options1	= {width:65,height:65,text:'ASRMEM' + vals}
			$('#IDqrcodeId').qrcode(options1)
		}
	</script>
	
		<script type="text/javascript">
		function generateBarCodeid(vals) {
			

// 			var options	= {width:100,height:100,text:'ASRMEM' + vals}
// 			$("#demo").barcode("1234567890128", vals); // type (string));    
// 					console.log(456);
alert(vals);
		var ids="0000000000"+vals;
// 		alert(ids);
		
			$("#IDdemo1").barcode(
				
				ids, // Value barcode (dependent on the type of barcode)
			
				"ean13" // type (string)
			
				);
					}
	</script>
		

	<style>
	body{
		padding: 0px;
		margin: 0px;
/* 		color: #FFFFFF; */
	}
h1,h2,h3,h4,h5,h6{
	margin: 0px;
	padding: 0px;
}

#IDqrcodeId{
		margin:19px 0 0 22px;
	}
	.mainBgImg{
/* 		background-image:url(../../../../static/html/img/idCardBg.png); */
		width: 85mm;
		height:55mm;
		padding: 5px 15px 15px 15px;
		color: #ffffff;
	}
	.heading{
		margin-top:9px;
		text-align: center;
		float: left;
		width: 141px;
		font-size: 3px;
	}
	.heading h4{
		color: yellow;
		font-size: 13px;
		font-weight: bold;
	}
	
	.heading h5{
		font-size: 10px;
	}
	
	
	.main-heading{
		margin-left: auto;
		margin-right: auto;
		display: block;
/* 		padding-left: 52px;  */
		margin-bottom: 10px;
		width: 190px;
	}
	.keralaGovLogo img{
		width: 0.5in;
		height: 0.5in;
		margin-top: 8px;

	}
	.innerIdcard img{
		width: 18mm;
		height: 10mm;
	}
	.innerIdcard{
		display: inline-block;

	}
	.inner-content{
		float: left;
		width: 95px;

	}
	.color h3 {
		color: yellow;
	}
	.color h4 {
		color: yellow;
		font-size: 13px;
	}
	
	.inner-content h3{
		font-size: 10px;
	}
	.inner-content .barCode{
		width: 137px;
		margin-left: -33px;
		margin-top: 5px;
	}
	.inner-content .qrCode{
		width: 13mm;
		height: 12mm;
		margin-left: 10px;
	}
	
	#qrcodeId{
		margin:19px 0 0 22px;
	}
	.inner-content .photo{
		height: 68px;
		margin-right: auto;
		margin-left: auto;
		display: block;
	}
	.inner-content span{
		text-align: center;
		font-size: 9px;
	}
	.inner-content .signature{
		margin-top:6px;
	}
	footer h6{
		font-size: 7px;
	}

</style>
</body>
</html>
