
<style>
.itembox{
	width: 25%;
	float:left;
	position:relative;
    height: 115px;
    /* border: solid 1px red; */
    border-radius: 8px;
    background: #000046;
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    background: linear-gradient(to right, #1CB5E0, #000046);
    color: white;
    font-family: monospace;
    font-size: 18px;
    cursor: pointer;
    text-decoration: underline;
    margin-left:170px;
}
.itembox:hover{
opacity:.7;
}
.itembox label{
  margin-top:43px !important;
  text-decoration: underline;
  cursor: pointer;
}
.congrats{
padding: 4px;
    font-size: 16px;
    /* border: solid 1px; */
    background: #ddddff;
    width: 86%;
    border-radius: 7px;
    margin: 16px;
    box-shadow: 0px 1px 1px 1px;
}
.congrats label{
font-weight: bold;
    font-family: initial;
    font-size: 20px;
    }
    .ico{
    position: absolute;
    left: 49%;
    top: 10%;
    font-size: 25px;}
    .itemboxcontainer{
    width:100%;
    }
</style>
<div>      
<div class="congrats row" ng-hide="titlehide">
<div><label>Congratulations! Member Data Saved Successfully</label></div>
</div>
	<div class="itemboxcontainer">
		<div class="itembox" ng-click="printmemberReceipt()">
		<i class="fa fa-download ico"></i>
		<label>Click here to view/download the member receipt</label>
		</div>
		<div class="itembox" ng-click="printmemberID()">
		<i class="fa fa-download ico"></i>
		<label>Click here to view/download the member ID card</label>
		</div>
	</div>
 
</div>      
   
