<div class="dt-toolbar-footer">
	<div class="col-sm-6 col-xs-12 hidden-xs">
		<div class="dataTables_info">
			Showing <span class="txt-color-darken">{{showingFrom1}}</span> to <span class="txt-color-darken">{{showingTo1}}</span> of <span class="text-primary">{{totalEntries1}}</span> entries
		</div>
	</div>
	<div class="col-sm-6 col-xs-12">
		<div class="dataTables_paginate paging_simple_numbers">
			<ul class="pagination pagination-sm">
	          <li class="paginate_button previous">
	            <a href="javascript:void(0)" ng-click="firstPage1()"> <span aria-hidden="true">&laquo;&laquo;</span> <span class="sr-only">Previous</span> </a>
	          </li>
	          <li class="paginate_button previous">
	            <a href="javascript:void(0)" ng-click="prevPage1()"> <span aria-hidden="true">&laquo;</span> <span class="sr-only">Previous</span> </a>
	          </li>
	          <li ng-class="currentPage1 === i ? 'paginate_button active' : 'paginate_button'" ng-repeat="i in pages1"><a class="page-link" href="javascript:void(0)" ng-click="goToPage1(i)">{{i}}</a></li>
	          <li class="paginate_button next">
	            <a href="javascript:void(0)" ng-click="nextPage1()"> <span aria-hidden="true">&raquo;</span> <span class="sr-only">Next</span> </a>
	          </li>
	          <li class="paginate_button next">
	            <a href="javascript:void(0)" ng-click="lastPage1()"> <span aria-hidden="true">&raquo;&raquo;</span> <span class="sr-only">Next</span> </a>
	          </li>
	        </ul>
		</div>
	</div>
</div>