
<style>
.itembox{
	width: 25%;
    height: 115px;
    /* border: solid 1px red; */
    border-radius: 8px;
    background: #000046;
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);
    background: linear-gradient(to right, #1CB5E0, #000046);
    color: white;
    font-family: monospace;
    font-size: 18px;
    cursor: pointer;
        text-decoration: underline;
        float: left;
    position: relative;
    margin-left: 75px;
}
.itembox:hover{
opacity:.7;
}
.itembox label{
  margin-top:43px !important;
  text-decoration: underline;
  cursor: pointer;
}
.congrats{
padding: 4px;
    font-size: 16px;
    /* border: solid 1px; */
    background: #ddddff;
    width: 86%;
    border-radius: 7px;
    margin: 16px;
    box-shadow: 0px 1px 1px 1px;
}
.congrats label{
font-weight: bold;
    font-family: initial;
    font-size: 20px;
    }
    .ico{
    position: absolute;
    left: 49%;
    top: 11%;
    font-size: 25px;}
</style>
<div>      
<div class="congrats row">
<div><label>Congratulations on your booking!</label></div>
</div>
<div class="boxcont">
<div class="itembox"  ng-repeat="item in bookingres" ng-click="printBookingReceipt(item.accountsId)">
<i class="fa fa-download ico"></i>
<label >Click here to view/download the receipt</label>
</div>
</div>

</div>      
   
